<div class="container" style="padding-bottom:500px;">
	<h1>Courses</h1>
	<h3>Course header 1</h3>
	<a class="list-group-item" href="/testcourse">
	    <div class="step-progress-indicator complete">
	      <span class="step-progress-indicator-icon complete"></span>
	    </div>

	    <div class="step-info">
	      <h3 class="list-group-item-heading step-title">
	        1. Subject: First lesson
	      </h3>
	      <p class="list-group-item-text step-description">Description of first lesson</p>
	    </div>
	</a>
</div>