<div class="masthead">
  <div class="container" style="padding:200px;">
    <div class="row">
      <div class="col-md-12">
        <h1>Don't waste your time locked away learning to code</h1>
        <p>Learn the basic tools you need as an MBA to start a tech company</p>
        <%= link_to "Enroll today for $20", new_user_registration_path(:plan => 'VIP'), class: "btn btn-primary btn-lg btn-embossed" %>
      </div>
    </div>
  </div>
</div>
  
<!-- use this to make up for weird spacing -->
  <div class="right ribbon-corner-holder" >

  </div>

<!-- features section -->
<section class="features" style="border: 5px bold solid;" >
  <div class="container" style="padding:150px;" >
    <div class="row center">


      <div class="col-sm-4">
        <span class="glyphicon glyphicon-cog" style="font-size:80px"></span>
        <h4 class="feature">Step-by-step videos</h3>
        <p>Tech made simple, with the MBA skillset in mind</p>
      </div>

      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench" style="font-size:80px"></span>
        <h4 class="feature">Build practical skills</h3>
        <p>Every month we will release a crazy amount of content that will help you bring real value to a startup or start your own company</p>
        <p></p>
      </div>

      <div class="col-sm-4">
        <span class="glyphicon glyphicon-user" style="font-size:80px"></span>
        <h4 class="feature">We're one of you</h3>
        <p>And we're always here to provide you more information and and answer your questions</p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" >
  <div class="container" style="padding:100px;" >
    <div class="media">
      <a class="pull-left" href="#">
      <img class="media-object" src="#" alt="#">
    </a>
      <div class="media-body">
        <h4 class="media-heading">Kristin Johnson, Columbia Business School</h4>
        <p>Elliot and Kenny are amazing teachers and incredibly knowledgeable about the practicalities of tech.  I've been doing lots of strategy in school, but these courses have rounded out my skills so that I feel truly valuable at the startup I'm interning with.</p><br><br><br>
      </div>
    </div>

    <div class="media">
      <a class="pull-right" href="#">
      <img class="media-object" src="#" alt="#">
    </a>
      <div class="media-body">
        <h4 class="media-heading">Marky Marks, Harvard Business School</h4>
        <p>Amazing amazing amazing Amazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazingAmazing amazing amazing</p><br><br><br>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
      <img class="media-object" src="#" alt="#">
    </a>
      <div class="media-body">
        <h4 class="media-heading">Thsi guy, Booth School of Business</h4>
        <p>Fantastic FantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantasticFantastic</p>
      </div>
    </div>

  </div>
</section>